{% extends "Base.html" %}
{% load static %}

{% block body %}
  <canvas id="stars"></canvas>
  <div class="container signin-container">
    <h1 class="cont-head">SignUp!</h1>
    {% if success %}
      <div class="alert alert-success" role="alert">
        {{ success }}
      </div>
    {% endif %}
    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
    <div class="formBox">
      <form method="POST" action="{% url 'Register' %}">
        {% csrf_token %}
      <p class="text-center" id="errordiv2"></p><br />
      <div class="inputBox w100" style="margin-top : 40px">
        <input type="text" id='fname' name="firstName" required autoComplete='off' />
        <span>First Name</span>
      </div>
      <div class="inputBox w100">
        <input type="text" id='lname' name="lastName" required autoComplete='off' />
        <span>Last Name</span>
      </div>
      <div class="inputBox w100" style="margin-top : 40px">
        <input type="text" required id='email' name="email" autoComplete='off' />
        <span>Email</span>
      </div>
      <div class="inputBox w100">
        <input type="password" required id='password' name="password" autoComplete='off' />
        <span>Password</span>
      </div>
      <div class="inputBox w100">
        <input type="password" required id='cpassword' name="confirmPassword" autoComplete='off' />
        <span>Confirm Password</span>
      </div>
      <div class="inputBox w100">
        <select name="userType" value="option" id='option' name="userType">
          <option value='personal'>Personal</option>
          <option value='ngo'>NGO</option>
        </select>
      </div>
      <div class="inputBox w100">
        <select name="city" value={address} id='option' name="city" onChange={e=>setAddress(e.target.value)}>
          <option value='Indore'>Indore</option>
          <option value='Ujjain'>Ujjain</option>
          <option value='Rao'>Rao</option>
          <option value='Mhow'>Mhow</option>
          <option value='Dewas'>Dewas</option>
          <option value='Bhopal'>Bhopal</option>
        </select>
      </div>
      <center><button type="submit" class='signin-submit-btn' id="Signin-Submit-Handler">Submit</button></center>
      <p class="change-page-link text-center">Already have an account ? <a href="{% url 'Login' %}"> Login</a>
      </p>
      </form>
    </div>
  </div>
{% endblock body %}

{% block js %}
  <script src="{% static 'js/app.js' %}"></script>
  <script>
    $('#Signin-Submit-Handler').click(function (e) {
      document.querySelector('#fname').style.backgroundImage = "url()"
      document.querySelector('#lname').style.backgroundImage = "url()"
      document.querySelector('#email').style.backgroundImage = "url()"
      document.querySelector('#password').style.backgroundImage = "url()"
      document.querySelector('#cpassword').style.backgroundImage = "url()"
      var fname = $("#fname").val();
      var lname = $("#lname").val();
      var email = $("#email").val();
      var pwd = $("#password").val();
      var cpwd = $("#cpassword").val();
      var option = $("#option").val();
      const regex = /^[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[A-Za-z]+$/;
      if (fname.trim() == '') {
        $('#errordiv2').html('Please enter your First name.').css("color", "#f44336");
        $('#fname').focus();
        document.querySelector('#fname').style.backgroundImage = "url({% static 'img/close.svg' %})"
        return false;
      }
      else if (lname.trim() == '') {
        $('#errordiv2').html('Please enter your Last name.').css("color", "#f44336");
        $('#lname').focus();
        document.querySelector('#lname').style.backgroundImage = "url({% static 'img/close.svg' %})"
        return false;
      }
      else if (email.trim() == '') {
        $('#errordiv2').html('Please enter your Last name.').css("color", "#f44336");
        $('#email').focus();
        document.querySelector('#email').style.backgroundImage = "url({% static 'img/close.svg' %})"
        return false;
      }
      else if(!regex.test(email)) {
        $('#errordiv2').html('Invalid Email.').css("color", "#f44336");
        $('#email').focus();
        }
      else if (pwd.trim() == '') {
        $('#errordiv2').html('Please enter your Password.').css("color", "#f44336");
        $('#password').focus();
        document.querySelector('#password').style.backgroundImage = "url({% static 'img/close.svg' %})"
        return false;
      }
      else if (cpwd.trim() == '') {
        $('#errordiv2').html('Please Confirm your Password.').css("color", "#f44336");
        $('#cpassword').focus();
        document.querySelector('#cpassword').style.backgroundImage = "url({% static 'img/close.svg' %})"
        return false;
      }
      else if(pwd != cpwd)
      {
        $('#errordiv2').html('Password and Confirm Password must be same.').css("color", "#f44336");
        $('#cpassword').focus();
        document.querySelector('#cpassword').style.backgroundImage = "url({% static 'img/close.svg' %})"
      }
      
    });
  </script>

{% endblock js %}
